<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Interview Coaching</title>
		<meta name="description" content="A triple view diagonal slideshow with content preview." />
		<meta name="keywords" content="" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/css/base.css" />
		<script>
		document.documentElement.className = "js";
		var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
		</script>
	</head>
	<body class="loading">
		<svg class="hidden">
			<symbol id="icon-arrow" viewBox="0 0 24 24">
				<title>arrow</title>
				<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
			</symbol>
			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
				<path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
			</symbol>
			<symbol id="icon-longarrow" viewBox="0 0 54 24">
				<title>longarrow</title>
				<path d="M.42 11.158L12.38.256c.333-.27.696-.322 1.09-.155.395.166.593.467.593.903v6.977h38.87c.29 0 .53.093.716.28.187.187.28.426.28.716v5.98c0 .29-.093.53-.28.716a.971.971 0 0 1-.716.28h-38.87v6.977c0 .416-.199.717-.592.903-.395.167-.759.104-1.09-.186L.42 12.62a1.018 1.018 0 0 1 0-1.462z" />
			</symbol>
			<symbol id="icon-navarrow" viewBox="0 0 408 408">
				<title>navarrow</title>
				<polygon fill="#fff" fill-rule="nonzero" points="204 0 168.3 35.7 311.1 178.5 0 178.5 0 229.5 311.1 229.5 168.3 372.3 204 408 408 204"></polygon>
			</symbol>
		</svg>
		<main>
			<div class="slideshow">
				<div class="slideshow__deco"></div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(../static/img/1.jpg);"></div>
					</div>
					<div class="slide__side">Train Yourself</div>
					<div class="slide__title-wrap">
						<span class="slide__number"></span>
						<h3 class="slide__title">Interview Coaching</h3>
						<h4 class="slide__subtitle">Coach yourself for upcoming Interviews.</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(../static/img/2.jpg);"></div>
					</div>
					<div class="slide__side">Poker Face</div>
					<div class="slide__title-wrap">
						<span class="slide__number">1</span>
						<h3 class="slide__title">Facial Component</h3>
						<h4 class="slide__subtitle">"Few realize how loud their expressions are."</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(../static/img/3.jpg);"></div>
					</div>
					<div class="slide__side">Wavy wavy</div>
					<div class="slide__title-wrap">
						<span class="slide__number">2</span>
						<h3 class="slide__title">Prosodic Component</h3>
						<h4 class="slide__subtitle">"The Human Voice is the most perfect instrument of all."</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(../static/img/4.jpg);"></div>
					</div>
					<div class="slide__side">Blah Blah..</div>
					<div class="slide__title-wrap">
						<span class="slide__number">3</span>
						<h3 class="slide__title">Textual Component</h3>
						<h4 class="slide__subtitle">"Words are free. It's how you use them that may cost you."</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(../static/img/5.jpg);"></div>
					</div>
					<div class="slide__side">Sync up</div>
					<div class="slide__title-wrap">
						<span class="slide__number">4</span>
						<h3 class="slide__title">Coherence Component</h3>
						<h4 class="slide__subtitle">"Gaining synchronocity in what you think,what you speak and what they need might be all that is neede to move ahead." </h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(../static/img/6.jpg);"></div>
					</div>
					<div class="slide__side">Why??</div>
					<div class="slide__title-wrap">
						<span class="slide__number">5</span>
						<h3 class="slide__title">Inspiration and Need</h3>
						<h4 class="slide__subtitle">"Need is one of the best inspirators."</h4>
					</div>
				</div>
				<button class="nav nav--prev">
					<svg class="icon icon--navarrow-prev">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
				<button class="nav nav--next">
					<svg class="icon icon--navarrow-next">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
			</div>
			<div class="content">
				<div class="content__item">
					<span class="content__number"></span>
					<h3 class="content__title">Interview Coaching</h3>
					<h4 class="content__subtitle">“Death will be a great relief. No more interviews.”</h4>
					<div class="content__text">Job Interviews are a stressful part of almost every student’s growth which plays a crucial part in securing a good future for oneself. Without any particular exceptions students or candidates usually scrutinize the subject/topic content relevant to their interview. While we usually presume content is an important parameter in judging a candidate’s potential, the reality is far from it. Research conducted by Nalini Ambady and Robert Rosenthal (1993), experimental psychologists at Harvard University, showed that rock-solid impressions are made within the first 20 seconds of an interview. Albert Mehrabian, a pioneer researcher of body language in the 1950's, found that the total impact of a message is about 55% nonverbal, 38% vocal and only 7% verbal.</div>
				</div>
				<div class="content__item">
					<span class="content__number">1</span>
					<h3 class="content__title">Facial Component</h3>
					<h4 class="content__subtitle">“When your face says it all, your mouth waits its turn.”</h4>
					<div class="content__text">Emotion recognition is one of the main features for identifying the candidate’s traits suitable for the job as well as deciding the results of the interview. For this purpose, the dataset used is the  Facial Expression Recognition 2013 (FER-2013) dataset. The data consists of  35,685 examples that are 48*48 pixel grayscale images of faces. The images are categorized into seven categories namely angry, disgust, fear, happy, sad, surprise and neutral ranked from 0 to 6 respectively. OpenCV is used to display a square box on the boundaries of the facedetected using Haar Cascade Classifiers. According to the face detected in the video, one of the categories with a greater probability is calculated and displayed on the screen.</div>
				</div>
				<div class="content__item">
					<span class="content__number">2</span>
					<h3 class="content__title">Prosodic Component</h3>
					<h4 class="content__subtitle">"It takes the human voice to render depth to words."</h4>
					<div class="content__text">This component reflects the person’s tone modulation and thus portrays his social intent regardless of the verbal cues. We extract these features using a model built on the CREDA dataset based on an SVM model using open source library pyaudio analysis as its basis. Prosodic features are collected over each single question duration and then compiled together to form a complete emotion profile of the interview.</div>
				</div>
				<div class="content__item">
					<span class="content__number">3</span>
					<h3 class="content__title">Textual Component</h3>
					<h4 class="content__subtitle">“Words can inspire. And words can destroy. Choose yours well.”</h4>
					<div class="content__text">Our efforts are concentrated on recognizing social intent hidden within the candidate interview. We extract lexical features by using IBM Personality Insights REST API [15] which provides best in class accuracy. The lexical features are analyzed over each individual answer duration and then a  composite picture averaging this analysis is provided for the interview.This component provides insights on the lines of five big personality characteristics i.e. agreeableness, conscientiousness, extraversion, emotional range and openness. These characteristics are coupled with two other dimensions, needs and values. The model provides us with 12 characteristic needs and 5 characteristic values.</div>
				</div>
				<div class="content__item">
					<span class="content__number">4</span>
					<h3 class="content__title">Coherence Component</h3>
					<h4 class="content__subtitle">"Sync-Harmony-Coherence"</h4>
					<div class="content__text">So often we avoid running water, and running water is a lot of fun. Everyone is going to see things differently - and that's the way it should be. A big strong tree needs big strong roots. Steve wants reflections, so let's give him reflections. We don't have to be committed. We are just playing here. Making all those little fluffies that live in the clouds. Let's go up in here, and start having some fun The least little bit can do so much. Work on one thing at a time. Don't get carried away - we have plenty of time. Put your feelings into it, your heart, it's your world. These trees are so much fun. I get started on them and I have a hard time stopping.</div>
				</div>
				<div class="content__item">
					<span class="content__number">5</span>
					<h3 class="content__title">Inspiration and Need</h3>
					<h4 class="content__subtitle">"Failures can be needs and inspirations."</h4>
					<div class="content__text">We all had our College Placement Interviews where we faced a lot of problems, not just because of our incompetence, but due to the human element of judement from a prejudiced eye that may be affected by physical appearance, gender bias or personal mood. This drove us to create a software to replace human beings as interviewers but that is way beyond our grasps, hence this software was developed as a stepping stone to that goal.</div>
				</div>
				<button class="content__close">
					<svg class="icon icon--longarrow">
						<use xlink:href="#icon-longarrow"></use>
					</svg>
				</button>
			</div>
			<svg width="160" height="160" style="position: fixed; bottom: 0; left: 0;z-index: 100;">
				<a href="/loginForm">
				<circle cx="0"
					cy="160"
					r="140"
					onmouseover="this.setAttribute('r', '160');"
					onmouseout="this.setAttribute('r','140');"
					fill="#141414" />
			    <text x="55"
					y="100"
					fill="#FFFFFF"
					text-anchor="middle"
					alignment-baseline="middle"
					style="font-family: Arial, Helvetica, sans-serif;font-size: x-large; font-weight: bold;">
				Admin
				</text>
				</a>
			</svg>
			<svg width="160" height="160" style="position: fixed; top: 0; right: 0;z-index: 100;">
				<a href="/student">
				<circle cx="160"
					cy="0"
					r="140"
					onmouseover="this.setAttribute('r', '160');"
					onmouseout="this.setAttribute('r','140');"
					fill="#141414" />
			    <text x="95"
					y="60"
					fill="#FFFFFF"
					text-anchor="middle"
					alignment-baseline="middle"
					style="font-family: Arial, Helvetica, sans-serif;font-size: x-large; font-weight: bold;"
					>
					Student
				</text>
				</a>
			</svg>
			<a href=""> </a>
		</main>
		<script src="../static/js/imagesloaded.pkgd.min.js"></script>
		<script src="../static/js/charming.min.js"></script>
		<script src="../static/js/TweenMax.min.js"></script>
		<script src="../static/js/demo.js"></script>
	</body>
</html>
